<%- include('partials/header', { title: 'Cryptos', user: user }) %>
  <section class="coinstats">
    <h1 id="pageTitle">Günün En Çok Yükselen 50 Coini</h1>
    <canvas id="barChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="/coinstats.js"></script>
  </section>
<%- include('partials/footer') %>
