<%- include('partials/header', { title: 'Coin Stats', user: user }) %>
  <section class="coinstats">
    <h1>Son Kapanıştan Bu Yana En Çok Yükselen 50 Coin</h1>
     <canvas id="barChart"></canvas>
    <script src="/coinstats.js"></script>
  </section>
<%- include('partials/footer') %>
